<div id="myDiv" ></div>
<script>
var x = <%= @xdata %>;

var y = <%= @ydata %>;

var c = <%= @colordata %>;

Graph(x, y, c);
</script>
<%= form_tag({ action: 'index' }, remote:true) do %>
    <%= select_tag :strip, options_from_collection_for_select(@trips, :TRIP_ID, :TRIP_ID) %>
    <%= submit_tag '更新' %>
<% end %>